.container {
  position: relative;
  background: #fff;
  min-width: 320px;
  flex: 4;
  display: flex;
  flex-direction: column;
  box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05),
    23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
}

.header {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: 4rem;
  min-height: 60px;
  justify-content: space-between;
}

.header_img {
  border-radius: 100%;
  height: 70%;
  cursor: pointer;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input_container {
  height: 3rem;
  margin: 0.4em 1em;
  min-height: 35px;
}

.input {
  position: relative;
  height: 100%;
  width: 100%;
  background: #fafafa;
  box-shadow: 0 5px 10px 2px rgba(86, 128, 248, 0.15);
  border-radius: 6px;
  padding: 0 0.6em;
}

.input input {
  background: 0;
  outline: 0;
  border: 0;
  width: 100%;
  height: 100%;
  color: #0d1c2e;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0 0 0 1.8rem;
}

.input input::placeholder {
  color: #707c97;
}

.input svg {
  position: absolute;
  fill: #707c97;
  height: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.chat_list {
  flex: 12 1 1px;
  overflow-y: auto;
}

.chat_item {
  display: flex;
  align-items: center;
  padding: 0.2em 0.8em;
  height: 4.5rem;
  cursor: pointer;
  user-select: none;
  min-height: 60px;
}

.chat_item_img {
  border-radius: 100%;
  height: 70%;
}

.chat_item_content {
  width: 100%;
  margin-left: 0.6em;
  min-width: 0;
}

.chat_item_header,
.chat_item_message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_item_username {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
  font-weight: 400;
  color: #0d1c2e;
}

.chat_item_date {
  font-size: 0.8rem;
  color: #707c97;
}

.chat_item_message {
  margin-top: 1px;
}

.chat_item_message_text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  font-size: 0.8rem;
  color: #707c97;
}

.chat_item:not(.selected):hover {
  background: #e6ecfe;
}

.item_username {
  font-weight: 500;
  display: block;
}

.item_display_name {
  display: block;
  font-size: 0.8rem;
  color: #707c97;
}

.selected {
  background: rgba(42, 139, 242, 0.8);
}

.selected .chat_item_username {
  color: #fff;
}

.selected .chat_item_message_text,
.selected .chat_item_date {
  color: rgba(255, 255, 255, 0.8);
}

.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.menu.showing {
  animation: showAnimation 0.15s ease-in 0s 1 forwards;
}

.menu.hiding {
  animation: hideAnimation 0.15s ease-in 0s 1 forwards;
}

.menu_header {
  height: 7rem;
  border-bottom: 1px solid rgba(112, 124, 151, 0.15);
  display: flex;
  align-items: center;
  padding: 3em 1em 1em 1em;
}

.menu_close_button {
  background: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.menu_close_button svg {
  height: 1.8rem;
  width: 1.8rem;
  fill: #2a8bf2;
}

.menu_header_text {
  margin: 0 0 0.2em 1em;
  color: #2a8bf2;
  font-weight: 600;
  font-size: 1.2rem;
}

@keyframes showAnimation {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes hideAnimation {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.profile_menu_content {
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: center;
}

.profile_menu_img {
  cursor: pointer;
  border-radius: 100%;
  width: 70%;
  margin-bottom: 2em;
}

.profile_menu_edit {
  margin: 1.2em 0;
  width: 100%;
}

.profile_menu_edit label {
  color: #2a8bf2;
  font-size: 0.9rem;
}

.profile_menu_input {
  margin-top: 0.2em;
  width: 100%;
  outline: 0;
  border: 0;
  background: 0;
  color: #0d1c2e;
  font-size: 1rem;
  padding: 0.6em 0;
  border-bottom: 1px solid rgba(112, 124, 151, 0.15);
}
